#background {
	background-color: #333333;
	height: 100vh;
}

a{
	color: #333333;
}

#right{
  background-color: #bdc3c7;
  color: #333333;
  height: 100vh;	
}

#background h1 {
	color: #DDDDDD;
	margin: auto;
	position: relative;
  top: 35vh;
  padding-left: 12em;
  font-family: 'Pacifico', cursive;
  font-size: 5em;
}

#background h2 {
	color: #DDDDDD;
	margin: auto;
	position: relative;
  top: 35vh;
  font-family: 'Pacifico', cursive;
  font-size: 5em;
}

#right h2 {
  color: #333333;
	margin: auto;
	position: relative;
  top: 15vh;
  font-family: 'Pacifico', cursive;
  font-size: 5em;
  margin-left: 7em;
}

header {
  width: 1400px;
  position: fixed;
  z-index: 1000;
  height: 12vh;
	color: #333333;
	background-color: #fff;
}
li {
	list-style: none;
	display: inline-block;
	font-size: 2em;
	font-family: 'Nunito', sans-serif;
	margin: 0.6em 2em 0 0;
	cursor: pointer;
	transition: all 0.5s ease-in;
}

.row li:hover {
	color: #f39c12;
}

.text {
  position: relative;
  top: 20vh;
  margin: 0 4em;
	max-width:50%;
	font-size: 1.5em;
}

span {
	color: #DDDDDD;
}

div.skill.dl-horizontal {
	position: relative;
	top: 25vh;
}

dd {
	margin: 2em;
}

div .progress .wow .zoomIn {
	visibility: visible; 
	animation-duration: 3s; 
	-webkit-animation-duration: 3s; 
	animation-delay: 0s; 
	-webkit-animation-delay: 0s; 
	animation-name: zoomIn; 
	-webkit-animation-name: zoomIn;
}

.skill .progress .progress-bar-info {
  background-color: #333333;
}

img {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 0.5s ease-in-out;
}

.project-container {
	margin-top: 25vh;
}

.project {
  position: relative;
  height: 180px;
}

.project_onhover {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left:0px;
  bottom: 0px;
  right: 0px;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
  background-color: #333333;

}

.project:hover .project_onhover {
  visibility: visible;
  display: block;
  transform: scale(1);
  top:0px;
}

.project:hover img {
  opacity: 0;
}

h3 {
	color: #BDC3C7;
  margin-left: 4.5em;
}

hr {
	border: 1px solid #BDC3C7;
	margin: 0 4.5em 0 4em;
}

button {
  margin: 1.5em 2.5em 0 4em;
  padding: 10px 25px;
  border-radius: 3px;
  border: 2px solid #BDC3C7;
  background-color: #1E2327;
  outline: none;
  color: #BDC3C7;
  font-weight: 700;
}

#background h3 {
	color: #DDDDDD;
	margin: auto;
	position: relative;
  top: 20vh;
  padding-left: 6em;
  font-family: 'Pacifico', cursive;
  font-size: 5em;
}
