.morphext > .animated {
    display: inline-block;
}

#left {
	background-color: $tertiary-color;
	height: 100vh;
}

a{
	color: black;
}

#right{
  background-color: $primary-color;
  color: $primary-color;
  height: 100vh;	
}

#left h1 {
	color: $secondary-color;
	margin: auto;
	position: relative;
  top: 35vh;
  padding-left: 12em;
  font-family: 'Pacifico', cursive;
  font-size: 5em;
}

#left h2 {
	color: $secondary-color;
	margin: auto;
	position: relative;
  top: 35vh;
  font-family: 'Pacifico', cursive;
  font-size: 5em;
}

#right h2 {
  color: $tertiary-color;
	margin: auto;
	position: relative;
  top: 15vh;
  font-family: 'Pacifico', cursive;
  font-size: 5em;
  margin-left: 7em;
}

h4 {
	color: $secondary-color;
  margin: 1em 0 1em 7em;
}

#right h3 {
	color: $tertiary-color;
	margin: auto;
	position: relative;
  top: 35vh;
  font-family: 'Pacifico', cursive;
  font-size: 5em;
}

#right p {
	color: $tertiary-color;
	margin: auto;
	position: relative;
  top: 27vh;
  text-align: left;
  font-size: 1.9em;
  font-family: 'Indie Flower', cursive;
}

header {
  width: 1400px;
  position: fixed;
  z-index: 1000;
  height: 12vh;
	color: $tertiary-color;
	background-color: $secondary-color;
}
li {
	list-style: none;
	display: inline-block;
	font-size: 2em;
	font-family: 'Nunito', sans-serif;
	margin: 0.6em 2em 0 0;
	cursor: pointer;
	transition: all 0.5s ease-in;
}

.row li:hover {
	color: $primary-color;
}

.text {
  position: relative;
  top: 20vh;
  margin: 0 4em;
	max-width:50%;
	font-size: 1.5em;
}

span {
	color: $secondary-color;
}

div.skill.dl-horizontal {
	position: relative;
	top: 25vh;
}

dd {
	margin: 2em;
}

dt {
	color: black;
}

div .progress .wow .zoomIn {
	visibility: visible; 
	animation-duration: 3s; 
	-webkit-animation-duration: 3s; 
	animation-delay: 0s; 
	-webkit-animation-delay: 0s; 
	animation-name: zoomIn; 
	-webkit-animation-name: zoomIn;
}

.skill .progress .progress-bar-info {
  background-color: $tertiary-color;
}

img {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 0.5s ease-in-out;
}

.project-container {
	margin-top: 25vh;
}

.project {
  position: relative;
  height: 180px;
}

.project_onhover {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left:0px;
  bottom: 0px;
  right: 0px;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
  background-color: $tertiary-color;

}

.project:hover .project_onhover {
  visibility: visible;
  display: block;
  transform: scale(1);
  top:0px;
}

.project:hover img {
  opacity: 0;
}

hr {
	border: 1px solid $secondary-color;
	margin: 0 4.5em 0 4em;
}

button {
  margin: 1.5em 2.5em 0 4em;
  padding: 10px 25px;
  border-radius: 3px;
  border: 2px solid $secondary-color;
  background-color: $tertiary-color;
  outline: none;
  color: $secondary-color;
  font-weight: 700;
}

#left h3 {
	color: $secondary-color;
	margin: auto;
	position: relative;
  top: 20vh;
  padding-left: 6em;
  font-family: 'Pacifico', cursive;
  font-size: 5em;
}

form#main-form {
	position: relative;
  top: 30vh;
  margin-left: 25em;
}

button#submit-button {
	margin: 1.5em 2.5em 0 0;
  padding: 10px 25px;
  border-radius: 3px;
  border: 2px solid $secondary-color;
  background-color: $secondary-color ;
  outline: none;
  color: $tertiary-color;
  font-weight: 700;
}

button#submit-button:hover {
	margin: 1.5em 2.5em 0 0;
  padding: 10px 25px;
  border-radius: 3px;
	border: 2px solid $secondary-color;
  background-color: $tertiary-color;
  outline: none;
  color: $secondary-color;
  font-weight: 700;
}